<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>蓝牙</string>
		<key>subTitle</key>
		<string>未连接</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>分辨率</string>
		<key>subTitle</key>
		<string>1920x1080</string>
		<key>content</key>
		<array>
			<string>640x480</string>
			<string>1280x720</string>
			<string>1920x1080</string>
			<string>3840x2160</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>帧率</string>
		<key>subTitle</key>
		<string>30fps</string>
		<key>content</key>
		<array>
			<string>30fps</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>视频编码质量</string>
		<key>subTitle</key>
		<string>标准</string>
		<key>content</key>
		<array>
			<string>低</string>
			<string>中</string>
			<string>标准</string>
			<string>高</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>语言</string>
		<key>subTitle</key>
		<string>简体中文</string>
		<key>content</key>
		<array>
			<string>简体中文</string>
			<string>English</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>自动重复</string>
		<key>subTitle</key>
		<string>两点</string>
		<key>content</key>
		<array>
			<string>两点</string>
			<string>实时</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>附加镜头</string>
		<key>subTitle</key>
		<string>无镜头</string>
		<key>content</key>
		<array>
			<string>无镜头</string>
			<string>增距镜x2</string>
			<string>其他镜头</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>硬件支持</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>闪光灯</string>
		<key>subTitle</key>
		<string>自动</string>
		<key>content</key>
		<array>
			<string>自动</string>
			<string>关</string>
			<string>开</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>前置提示灯</string>
	</dict>
	<dict>
		<key>title</key>
		<string>九宫格</string>
	</dict>
	<dict>
		<key>title</key>
		<string>对比度</string>
	</dict>
	<dict>
		<key>title</key>
		<string>恢复默认设置</string>
	</dict>
</array>
</plist>
